body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:405px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:486px;
  width:100px;
  height:60px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:562px;
  width:100px;
  height:60px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:655px;
  width:100px;
  height:60px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:757px;
  width:100px;
  height:60px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:939px;
  width:100px;
  height:60px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1021px;
  width:100px;
  height:60px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1105px;
  width:100px;
  height:60px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1186px;
  width:100px;
  height:60px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:395px;
  width:100px;
  height:37px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:431px;
  width:100px;
  height:37px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:549px;
  width:100px;
  height:37px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:585px;
  width:100px;
  height:37px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:648px;
  width:100px;
  height:37px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:685px;
  width:100px;
  height:37px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:750px;
  width:100px;
  height:37px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:787px;
  width:100px;
  height:37px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:69px;
  width:82px;
  height:8px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:65px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:516px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:592px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:8px;
  height:9px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:685px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-4px;
  width:81px;
  height:8px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-4px;
  width:8px;
  height:5px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:787px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:83px;
  height:8px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:8px;
  height:8px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:79px;
  width:82px;
  height:8px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1051px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-165px;
  width:8px;
  height:169px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1135px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-249px;
  width:8px;
  height:253px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1216px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-330px;
  width:8px;
  height:334px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1499px;
  width:110px;
  height:70px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1433px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1504px;
  width:100px;
  height:60px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1504px;
  width:100px;
  height:60px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1711px;
  width:110px;
  height:70px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:38px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1638px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1721px;
  width:100px;
  height:60px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1808px;
  width:100px;
  height:60px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1869px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:373px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u101_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:18px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1781px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u102_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1889px;
  width:100px;
  height:60px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1970px;
  width:100px;
  height:60px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2056px;
  width:100px;
  height:60px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:2068px;
  width:100px;
  height:37px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:2154px;
  width:100px;
  height:37px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2142px;
  width:100px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1919px;
  width:0px;
  height:0px;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-51px;
  width:8px;
  height:55px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2000px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-132px;
  width:8px;
  height:136px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2086px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u111_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-218px;
  width:8px;
  height:222px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2172px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u112_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-304px;
  width:8px;
  height:308px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-137px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1711px;
  width:110px;
  height:70px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:1721px;
  width:100px;
  height:60px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:1808px;
  width:100px;
  height:60px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1869px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:235px;
}
#u116_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:226px;
  width:9px;
  height:8px;
}
#u116_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:226px;
  width:8px;
  height:236px;
}
#u116_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u116_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:449px;
  width:18px;
  height:19px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:222px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1781px;
  width:0px;
  height:0px;
}
#u117_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u117_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u117_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1894px;
  width:100px;
  height:60px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1975px;
  width:100px;
  height:60px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2051px;
  width:100px;
  height:60px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2144px;
  width:100px;
  height:60px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1884px;
  width:100px;
  height:37px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1920px;
  width:100px;
  height:37px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2038px;
  width:100px;
  height:37px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2074px;
  width:100px;
  height:37px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2137px;
  width:100px;
  height:37px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2174px;
  width:100px;
  height:37px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2239px;
  width:100px;
  height:37px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1924px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-56px;
  width:8px;
  height:60px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2005px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u130_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-137px;
  width:8px;
  height:141px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2081px;
  width:0px;
  height:0px;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-214px;
  width:8px;
  height:218px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2174px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u132_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-306px;
  width:8px;
  height:310px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2240px;
  width:100px;
  height:60px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2270px;
  width:100px;
  height:37px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2270px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-402px;
  width:8px;
  height:406px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:2396px;
  width:110px;
  height:70px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:2406px;
  width:100px;
  height:60px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:2493px;
  width:100px;
  height:60px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:2466px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2579px;
  width:100px;
  height:60px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2660px;
  width:100px;
  height:60px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2736px;
  width:100px;
  height:60px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2829px;
  width:100px;
  height:60px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2569px;
  width:100px;
  height:37px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2605px;
  width:100px;
  height:37px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2723px;
  width:100px;
  height:37px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2759px;
  width:100px;
  height:37px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2822px;
  width:100px;
  height:37px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2859px;
  width:100px;
  height:37px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2924px;
  width:100px;
  height:37px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2609px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-56px;
  width:8px;
  height:60px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2690px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-137px;
  width:8px;
  height:141px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2766px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-214px;
  width:8px;
  height:218px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2859px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-306px;
  width:8px;
  height:310px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2925px;
  width:100px;
  height:60px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2955px;
  width:100px;
  height:37px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2955px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u157_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-402px;
  width:8px;
  height:406px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:3031px;
  width:100px;
  height:60px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:3470px;
  width:100px;
  height:60px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:3091px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:383px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:366px;
  width:18px;
  height:19px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3145px;
  width:100px;
  height:60px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3227px;
  width:100px;
  height:60px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3311px;
  width:100px;
  height:60px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3392px;
  width:100px;
  height:60px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:3091px;
  width:0px;
  height:0px;
}
#u165_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u165_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:80px;
  width:184px;
  height:8px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3257px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-4px;
  width:184px;
  height:8px;
}
#u166_seg1 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-166px;
  width:8px;
  height:170px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3341px;
  width:0px;
  height:0px;
}
#u167_seg0 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-4px;
  width:184px;
  height:8px;
}
#u167_seg1 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-250px;
  width:8px;
  height:254px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:-43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:3422px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-4px;
  width:184px;
  height:8px;
}
#u168_seg1 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-331px;
  width:8px;
  height:335px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:2553px;
  width:0px;
  height:0px;
}
#u169_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:248px;
}
#u169_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:240px;
  width:9px;
  height:8px;
}
#u169_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:240px;
  width:8px;
  height:238px;
}
#u169_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u169_seg4 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:465px;
  width:18px;
  height:19px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:232px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:3533px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:6px;
  height:8px;
}
#u170_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:8px;
  height:259px;
}
#u170_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u170_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:242px;
  width:18px;
  height:19px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3540px;
  width:100px;
  height:60px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3618px;
  width:100px;
  height:60px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3695px;
  width:100px;
  height:60px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3570px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u174_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-40px;
  width:8px;
  height:44px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3648px;
  width:0px;
  height:0px;
}
#u175_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u175_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-118px;
  width:8px;
  height:122px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3725px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-195px;
  width:8px;
  height:199px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
